@font-face {
    font-family: "Goshasans";
    src: url("./goshasans-bold-webfont.woff2")
}

* {
    padding: 0;
    margin: 0;
}

.header{
    height: 100vh;
    width: 100%;
}

.header__content{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header__logo{
    width: 200px;
    height: 200px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.header__title{
    color: white;
    font-size: 40px;
    margin-bottom: 70px;
    margin-left: 20px;
    font-family: Goshasans;
}

.header__coming{
    position: fixed;
    margin-top: 100px;
    color: white;
    font-size: 30px;
    font-family: Goshasans;
}

.header__counter{
    position: fixed;
    margin-top: 130px;
    color: white;
    font-size: 30px;
    font-family: Goshasans;
}

.footer{
    position: fixed;
    bottom: 10px;
    text-decoration: none;
    color:white;
    font-family: Goshasans;
    cursor: pointer;
}

.footer:hover{
    color: #009ff6;
}


.body{
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(to top, #4e80e6, #009ff6, #00baf3, #00d0e1, #30e3ca);
}

.body__content{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

